.errorContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    gap: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img{
        width: 40rem;
    }

    h1{
        font-size: 3rem;
    }

    a{
        font-size: 2rem;
        text-decoration: underline;
    }

}