:root {
  --brand-color: #ebdf00;
  --accent-color: #00ffa3;
  --success-color: #82c91e;
  --error-color: #f03e3e;

  --gray-color: #1e1e26;
  --gray-white-color: #334056;
  --gray-dark-color: #141417;

  --animation-pattern: cubic-bezier(0.04, 1.08, 0.89, 0.93);
}
