:root {
  --brand-color: #ebdf00;
  --white-color : #fff;
  --black-color: #000;

  --accent-color-primary: #7431F4;
  --accent-color-secondary:#FF00FF;

  --red-color:#F6645B;
  --green-color:#66A80F;


  --gray-color-heavy:#797878;
  --gray-color-light:#C5C5C5;

}
