@keyframes loadingSpinnerComponentHide {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}


@keyframes loadingSpinnerComponentEntrace {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
